/* video-bg */
.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    

}
.fullscreen-bg_video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
}
#ghavanin{
    color: white;
    backdrop-filter: blur(200px);
    background-color:rgba(255,255,255,);
    width: 100%;
    height: 100px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
h1{
    margin-right: 20px;
}
#sharayet{

    color: rgba(255, 255, 255, 0.649);
    backdrop-filter: blur(50px);
    background-color:rgba(255,255,255,);
    width: 100%;
    height: 250px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#mavared{
    color: aliceblue;
    backdrop-filter: blur(50px);
    background-color:rgba(255,255,255,);
}
#gh-1{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-2{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-3{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-4{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-5{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-6{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-7{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-8{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-9{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}
#gh-10{
    
    background-color: gray;
    color: aliceblue;
    padding: 15px;
    border-radius:30% ;
    -webkit-border-radius:30% ;
    -moz-border-radius:30% ;
    -ms-border-radius:30% ;
    -o-border-radius:30% ;
}